@use "@angular/material" as mat;

html {
   @include mat.theme((color: (theme-type: light,
            primary: mat.$azure-palette,
            tertiary: mat.$blue-palette,
         ),
         typography: Roboto,
         density: -3,
      ));
}

html,
body {
   height: 100%;
}

body {
   margin: 0;
   font-family: Roboto, "Helvetica Neue", sans-serif;
}

.center {
   display: flex;
   justify-content: center;
   align-items: center;
}

.mp-loading-overlay-panel {
   @include mat.dialog-overrides((container-color: transparent,
      ));
}