<h2 mat-dialog-title>Edit current menu</h2>

<mat-dialog-content>
   <form #form="ngForm" (ngSubmit)="save()" class="full-width">
      <h3 class="center">{{menu.startDate | date:'MMMM d'}} - {{menu.endDate | date:'MMMM d'}}</h3>

      @for (ration of menu.rations; track ration.id) {
      <h4 class="center">{{ration.date | date:'EEEE, MMMM d' }}</h4>

      @for (rationItem of ration.rationItems; track rationItem.id){
      <div class="ration-item">
         <mat-chip>{{rationItem.mealType}}</mat-chip>
         <mp-dish-editing [dishesList]="dishesByMealType(rationItem.mealType)" [initialDish]="rationItem.dish" 
         (dishChange)="onDishUpdate($event, rationItem)"></mp-dish-editing>
      </div>
      }
      }
   </form>
</mat-dialog-content>

<mat-dialog-actions>
   <button matButton [mat-dialog-close]="undefined">Close</button>
   <button matButton [disabled]="form.invalid" (click)="save()">
      Save
   </button>
</mat-dialog-actions>