<h2 mat-dialog-title>{{title}}</h2>

<mat-dialog-content>
   <form #form="ngForm" (ngSubmit)="save()" class="full-width">

      <mat-form-field appearance="fill" class="full-width">
         <mat-label>Dish name</mat-label>
         <input matInput name="name" required maxlength="256" [(ngModel)]="dish.name" #nameCtrl="ngModel" />
         <mat-error>
            This field is required
         </mat-error>
      </mat-form-field>

      <mat-label>Choose meal types applicable for this dish*</mat-label>
      <mat-chip-listbox multiple>
         @for (option of mealTypesOptions; track $index) {
         <mat-chip-option [selected]="option.selected" (selectionChange)="onMealTypeChange(option, $event)">
            {{option.value}}
         </mat-chip-option>
         }
      </mat-chip-listbox>
      <br>

      <mp-dish-ingredients-modification (ingredientsChange)="onIngredientsUpdate($event)"
         [initialIngredients]="dish.dishIngredients"></mp-dish-ingredients-modification>

      <mat-form-field class="full-width">
         <mat-label>Recipe</mat-label>
         <textarea matInput rows="7" name="recipeDescription" maxlength="2000" [(ngModel)]="dish.recipeDescription"
            #recipeDescriptionCtrl="ngModel">
         </textarea>
         <mat-hint align="end">{{dish.recipeDescription.length}} / 2000</mat-hint>
      </mat-form-field>

      <mat-form-field appearance="fill" class="full-width">
         <mat-label>Recipe link</mat-label>
         <input matInput name="recipeExternalLink" maxlength="255"  pattern="^(https?://)[\w-]+(\.[\w-]+)+[/#?]?.*$" [(ngModel)]="dish.recipeExternalLink"
            #recipeExternalLinkCtrl="ngModel" />
            <mat-error> Not a link</mat-error>
      </mat-form-field>

   </form>
</mat-dialog-content>

<mat-dialog-actions>
   <button matButton [mat-dialog-close]="undefined">Close</button>
   <button matButton [disabled]="form.invalid || selectedMealTypeOptions.length === 0" (click)="save()">
      Save
   </button>
</mat-dialog-actions>